# Built application files
*.apk
*.aar
*.aab

# Generated build files
.gradle/
/build/
local.properties

# Log files
*.log
crash.txt

# IDE and Kotlin internal files
.idea/
.kotlin/
*.iml
.DS_Store
.externalNativeBuild/
.cxx/

